.home-main{
    display:flex;
}
.home-main img{
 border-radius: 50%;
}


@media (min-width: 481px) and (max-width:768px){
    .home-main{
      flex-direction: column;
    }
}
@media (max-width:480px){
    .home-main{
      flex-direction: column-reverse;
    }
}


.home-icon{
  transition: 1s ease;
 }
 .home-icon:hover{
 -webkit-transform: scale(1.2);
 -ms-transform: scale(1.2);
 transform: scale(1.1);
 transition: 1s ease;
 }
